// colors
$mainColor: #f9f2df;
$shamua: #c7a166;
$ghostlyWhite: #f9f2df;
$pastelYellow: #ec933e;
$asparagus: #87a353;
$yellowBrown:#c28749;
$deepSea: #1c4c88;
$lightSand: #f9f2df;
$dark: #222222;
$red: #fa0000;
$grey: #7d7d7d;

// typography
$baseFontSize: 18px;
$fontForSmallMobile: 16px;
$titleFont: "BernierRegular";
$baseFont: "Montserrat";