<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")
        title Test-modules
    body
    
    include pug-modules/header.pug
    
    section.slider
        .slider__container
            article.item.custom-carousel__slide
                a.item__link(href="#")
                    header.item__header
                        .item__caption
                            h2.item__title Мыло<br>для бритья<br><span class="item__title-hang">«Barber&nbsp;Wild»</span>
                            p.item__name.item__name--juicy juicy
                        .item__info
                            p.item__volume 3.5 fl.oz | 100 g.
                            p.item__price 900&nbsp;<span class="item__currency">руб</span>
                            p.item__tag limited <br> edition
                    .item__image
                        img(src="img/catalog/matt-clay-woodie.png", alt="Мыло для бритья Barber Wild")
                .item__buttons
                            a(href="#").button.button--more Купить
                            a(href="#").button.button--ghost Подробнее

            article.item.custom-carousel__slide
                a.item__link(href="#")
                    header.item__header
                        .item__caption
                            h2.item__title Мыло<br>для бритья<br><span class="item__title-hang">«Barber&nbsp;Wild»</span>
                            p.item__name.item__name--juicy juicy
                        .item__info
                            p.item__volume 3.5 fl.oz | 100 g.
                            p.item__price 900&nbsp;<span class="item__currency">руб</span>
                            p.item__tag limited <br> edition
                    .item__image
                        img(src="img/catalog/pomade-juicy.png", alt="Мыло для бритья Barber Wild")
                
                .item__buttons
                    a(href="#").button.button--more Купить
                    a(href="#").button.button--ghost Подробнее

            article.item.custom-carousel__slide
                a.item__link(href="#")
                    header.item__header
                        .item__caption
                            h2.item__title Мыло<br>для бритья<br><span class="item__title-hang">«Barber&nbsp;Wild»</span>
                            p.item__name.item__name--juicy juicy
                        .item__info
                            p.item__volume 3.5 fl.oz | 100 g.
                            p.item__price 900&nbsp;<span class="item__currency">руб</span>
                            p.item__tag limited <br> edition
                    .item__image
                        img(src="img/catalog/pomade-melone.png", alt="Мыло для бритья Barber Wild")
                
                .item__buttons
                    a(href="#").button.button--more Купить
                    a(href="#").button.button--ghost Подробнее

            article.item.custom-carousel__slide
                a.item__link(href="#")
                    header.item__header
                        .item__caption
                            h2.item__title Мыло<br>для бритья<br><span class="item__title-hang">«Barber&nbsp;Wild»</span>
                            p.item__name.item__name--juicy juicy
                        .item__info
                            p.item__volume 3.5 fl.oz | 100 g.
                            p.item__price 900&nbsp;<span class="item__currency">руб</span>
                            p.item__tag limited <br> edition
                    .item__image
                        img(src="img/catalog/shave-oil.png", alt="Мыло для бритья Barber Wild")
                
                .item__buttons
                    a(href="#").button.button--more Купить
                    a(href="#").button.button--ghost Подробнее

            article.item.custom-carousel__slide
                a.item__link(href="#")
                    header.item__header
                        .item__caption
                            h2.item__title Мыло<br>для бритья<br><span class="item__title-hang">«Barber&nbsp;Wild»</span>
                            p.item__name.item__name--juicy juicy
                        .item__info
                            p.item__volume 3.5 fl.oz | 100 g.
                            p.item__price 900&nbsp;<span class="item__currency">руб</span>
                            p.item__tag limited <br> edition
                    .item__image
                        img(src="img/catalog/shampoo-1000.png", alt="Мыло для бритья Barber Wild")
                
                .item__buttons
                    a(href="#").button.button--more Купить
                    a(href="#").button.button--ghost Подробнее
            
    .slider__nav
        button(data-path="prev") Prev
        button(data-path="next") Next

    include pug-modules/footer.pug
    script(src="main.js")
    