<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")
        title Test-modules
    body
    
    include pug-modules/header.pug

    section.sliderWrap
        .slider
            .slider__nav
                button.slider__btn(data-direction="prev") Prev
                button.slider__btn(data-direction="next") Next

            .slider__container
                .slide.slide1
                    p.slider__text slide1
                    img.slide__image(src="https://picsum.photos/300/300/?1", alt="Image1")
                .slide.slide2
                    p.slider__text slide2
                    img.slide__image(src="https://picsum.photos/300/300/?2", alt="Image2")
                .slide.slide3
                    p.slider__text slide3
                    img.slide__image(src="https://picsum.photos/300/300/?3", alt="Image3")
                .slide.slide4
                    p.slider__text slide4
                    img.slide__image(src="https://picsum.photos/300/300/?4", alt="Image4")
                .slide.slide5
                    p.slider__text slide5
                    img.slide__image(src="https://picsum.photos/300/300/?5", alt="Image5")
                .slide.slide6
                    p.slider__text slide6
                    img.slide__image(src="https://picsum.photos/300/300/?6", alt="Image6")
                .slide.slide7
                    p.slider__text slide7
                    img.slide__image(src="https://picsum.photos/300/300/?7", alt="Image7")
                .slide.slide8
                    p.slider__text slide8
                    img.slide__image(src="https://picsum.photos/300/300/?8", alt="Image8")
                .slide.slide9
                    p.slider__text slide9
                    img.slide__image(src="https://picsum.photos/300/300/?9", alt="Image9")
                .slide.slide10
                    p.slider__text slide10
                    img.slide__image(src="https://picsum.photos/300/300/?10", alt="Image10")
        
        .canvas-container
            canvas#canvas
    include pug-modules/footer.pug

    script(src="main.js")