<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Test-modules
    body
    
    include pug-modules/header.pug

    section.tested
        .block Block_1
        .block Block_2
        .block Block_3
    
    section.tested
        .block Block_1
        .block Block_2
        .block Block_3
    
    section.tested
        .block Block_1
        .block Block_2
        .block Block_3
    
    include pug-modules/footer.pug

    script(src="main.js")