<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        link(rel="stylesheet", href="styles.css")
        title Test-modules
    body
    
    include pug-modules/header.pug

    section.sliderWrap
        .slider
            .slider__nav
                button.slider__btn(data-direction="prev") Prev
                button.slider__btn(data-direction="next") Next

            .slider__contaner
                .slide.slide1
                    p.slider__text slide1
                    img.slide__image(src="https://picsum.photos/300/300/?random", alt="Image1")
                .slide.slide2
                    p.slider__text slide2
                    img.slide__image(src="https://picsum.photos/300/300/?random", alt="Image1")
                .slide.slide3
                    p.slider__text slide3
                    img.slide__image(src="https://picsum.photos/300/300/?random", alt="Image1")
                .slide.slide4
                    p.slider__text slide4
                    img.slide__image(src="https://picsum.photos/300/300/?random", alt="Image1")
                .slide.slide5
                    p.slider__text slide5
                    img.slide__image(src="https://picsum.photos/300/300/?random", alt="Image1")

        button.slideChange Change
        .arrContent
        button.slideChangeBack Unchange
    include pug-modules/footer.pug

    script(src="main.js")