h1 some Heading testing block
.someOuterBlock
    .someBlock.someBlock0 Testing Transition
    .someBlock.someBlock1 Testing Transition
    .someBlock.someBlock2 Testing Transition
    button.someButtonToClick Click me