.subcategory {
    /* box model */
    display: none;
}

.subcategory--active {
    /* box model */
    display: inline;
}

.blog-post--favorite {
    color: #fafaff;

    /* typography */
    font-weight: 700;
    
    /* visual */
    background-color: rgba(0,0,0,0.4);
}

.favorite-button {
    /* box model */
    display: inline-block;
}

.blog-post--favorite .favorite-button {
    /* box model */
    display: none;
}

.unfavorite-button {
    /* box model */
    display: none;
}

.blog-post--favorite .unfavorite-button {
    /* box model */
    display: inline-block;
}