.ajax-form {
    // box model
    max-width: 400px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0,0,0,0.3);
}

input[type="text"] {
    // box model
    margin: 15px 0;

    // visual
    border-radius: 7px;
    border: 1px solid greenyellow;
}

#result {
    // box model
    display: none;
}

input.error {
    // visual
    border: 1px solid rgb(201, 55, 55);
}

.spinner {
    // box model
    display: none;
    margin-left: 100px;

    // typography
    font-size: 32px;
}

#recount {
    // box model
    display: none;

}

label {
    // typography
    font-family: $baseFont;
    font-size: 1.1rem;
    color: #665d5d;
}

.form-input__group {
    // box model
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 35px;
}