.glide__slide {
    // box model
    display: flex;
    align-items: stretch;
    flex-direction: row;
    min-height: 490px;
    padding: 15px;

    // visual
    background-color: #7AB533;
    background-position: center center;
    background-size: cover;
    overflow: hidden;
}

.glide__slide-image-container,
.glide__slide-info-container {
    // box model
    flex-basis: 50%;
    padding: 30px;
    flex-shrink: 0;
    flex-grow: 0;
}

.glide__slide-image-container {
}

.glide__slide-image-container img {
    // box model
    display: block;
    width: 400px;
    height: 400px;
    object-fit: cover;
}