.outer-block {
    /* box model */
    width: 40%;
    max-width: 1200px;
    padding: 30px;

    /* visual */
    border: 1px solid #ff0000;
}

.outer-wrap {
    /* box model */
    display: flex;
    max-width: 100%;
    flex: 1 1 20%;
}

.inner-block {
    /* box model */
    height: 40px;
    width: 100%;

    border: 1px solid #000000;
}