.items {
    /* positioning */
    position: relative;

    /* box model */
    height: 800px;
    padding: 100px;
    width: 100%;

    /* typography */
    font-size: 0;

    /* visual */
    background: rgba(255,255,255, 0.1);
    border: 1px solid white;
    cursor: pointer;
    overflow-x: scroll;
    overflow-y: hidden;
    perspective: 500px;
    transform: scale(0.98);
    transition: all 0.2s;
    user-select: none;
    white-space: nowrap;
    will-change: transform;
}

.items.active {
    /* visual */
    background: rgba(255,255,255,0.3);
    cursor: grabbing;
    cursor: -webkit-grabbing;
    transform: scale(1);
}

.item {
    /* box model */
    width: 200px;
    height: calc(100% - 40px);
    display: inline-flex;
    align-items: center;
    justify-content: center;

    /* typography */
    color: rgba(0,0,0,0.15);
    font-size: 80px;
    font-weight: 100;

    /* visual */
    box-shadow: inset 0 0 0 10px rgba(0,0,0,0.15);
}

.item:nth-child(even) {
    /* visual */
    transform: scaleX(1.31) rotateY(40deg);
    background-color: #fafafa;
}

.item:nth-child(odd) {
    /* visual */
    transform: scaleX(1.31) rotateY(-40deg);
    background-color: #fafac1;
}