#menu {
    /* positioning */
    position: relative;
    top: 0;
    left: 0;
}

#menu ul {
    /* box model */
    display: flex;
    margin: 0;
    padding: 0;

    /* typography */
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    text-align: center;

    /* visual */
    background-color: rgba(0,0,0,0.7);
    list-style: none;
}


#menu a {
    /* typography */
    color: inherit;
    text-transform: uppercase;

    /* visual */
    text-decoration: none;
}

#menu .logo {
    /* box model */
    max-width: 0;
    overflow: hidden;
}

#menu li {
    /* box model */
    flex: 1;

    /* typography */
    justify-content: center;
    align-items: center;
}

.header-bg {
    /* box model */
    height: 400px;
    width: 100%;

    /* visual */
    background-image: url('img/suricate-2x.jpg');
    background-repeat: no-repeat;
}

#menu.fixed {
    /* positioning */
    position: fixed;
    z-index: 1;
    
    /* box model */
    width: 100%;

    background-color: rgba(0,0,0,1);
}

.site-wrap {
    /* box model */
    padding-top: 60px;
}