#spinner {
    // box model
    vertical-align: top;
    height: 16px;
    display: none;
    
    // typography
    font-size: 32px;
    line-height: 26px;
    font-family: $baseFont;
    color: #ffaaaa;
}