.linkHighlighter {
    /* box model */
    display: grid;
    grid-template-columns: 1fr;

    width: 100%;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.menu {
    /* box model */
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr ) );
    
}

a {
    /* positioning */
    position: relative;

    /* box model */
    display: inline-block;
    padding: 10px 12px;

    /* typography */
    text-align: center;
}

.highlight {
    /* positioning */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;

    /* box model */
    display: block;

    background-color: #a52a2a;
    border-radius: 15px;
    opacity: 0.3;

    /* visual */
    transition: all 0.3s;
}