.test p {
    /* box model */
    display: inline-block;

    /* typography */
    color: #000000;
    font-size: 2rem;
    text-transform: uppercase;

    /* visual */
    transition: transform 0.25s ease-in-out;
}

.test span {
    /* box model */
    display: inline-block;

    /* visual */
    transition: transform 0.25s ease-in-out;
}

.test span:hover {
    /* visual */
    transform: scale(2) skewY(-15deg);
}