h1 {
    /* box model */
    margin-bottom: 0;

    /* typography */
    font-size: 10rem;

    line-height: 1;
    text-align: center;
}

.score {
    /* box model */
    padding: 0 3rem;

    /* typography */
    line-height: 1;

    /* visual */
    background: rgba(255,255,255,0.2);

    border-radius: 1rem;
}

.game {
    /* box model */
    display: flex;
    flex-wrap: wrap;

    width: 600px;
    height: 400px;
    margin: 0 auto;
}

.hole {
    /* positioning */
    position: relative;

    /* box model */
    flex: 1 0 33.33%;

    /* visual */
    overflow: hidden;
}

.hole:after {
    content: "";

    /* positioning */
    position: absolute;
    bottom: -30px;
    z-index: 2;
    /* box model */
    display: block;
    width: 100%;
    height: 170px;

    /* visual */
    background: url(img/lion.jpg) bottom center no-repeat;
    background-size: 100%;
}

.mole {
    /* positioning */
    position: absolute;
    top: 100%;

    /* box model */
    width: 100%;
    height: 115%;

    /* visual */
    background: url(img/suricate.jpg) bottom center no-repeat;
    background-size: 100%;
    transition: all 0.3s;
}

.hole.up .mole {
    /* positioning */
    top: -130px;
}