.hero {
    /* box model */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 100px;
    margin: 0 auto;
    margin-top: 50px;

    /* typography */
    color: #ffffff;
    text-align: center;

    /* visual */
    background-color: blue;
}