.blockOnHover {
    /* box model */
    width: 100px;
    height: 100px;

    /* visual */
    box-shadow: 0 0 0 2px rgba(0,0,0,0.7);
    background: yellow;
}

.someOuterBlock {
    /* box model */
    width: 300px;
    height: 300px;

    /* visual */
    background: red;
}

.someInnerBlock {
    /* box model */
    width: 200px;
    height: 200px;

    
    /* visual */
    background-color: #008000;
}