.align-right {
    /* box model */
    float: right;
    margin-left: 20px;
}

.align-left {
    /* box model */
    float: left;
    margin-right: 20px;
}

.slide-in {
    /* visual */
    opacity: 0;
    transition: all 0.3s;
}

.align-left.slide-in {
    /* positioning */
    transform: translateX(-30%) scale(0.95);
}

.align-right.slide-in {
    /* positioning */
    transform: translateX(30%) scale(0.95);
}

.slide-in.active {
    /* visual */
    opacity: 1;

    transform: translateX(0%) scale(1);
}