.slider {
    // box model
    width: 100%;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}

.slider__container {
    // box model
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    max-width: 900px;
    margin-right: auto;
    margin-left: auto;
    height: 150px;
    overflow: hidden;
}

.slide {
    // box model
    width: 250px;
    height: 150px;
    background-color: #ccc;
    transition: all 0.25s ease;
}