body {
    /* box model */
    margin: 0;
    min-height: 100vh;

    /* visual */
    background:
        linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
        linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
        linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
        linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

h2 {
    /* box model */
    margin-top: 0;
    padding-top: 0.8em;
}

nav {
    /* positioning */
    position: relative;
    perspective: 600px;
}

.cool > li > a {
    /* box model */
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;

    /* typography */
    color: #ffff00;
    font-size: 20px;
    text-decoration: none;

    /* visual */
    background-color: rgba(0,0,0,0.2);
    border-radius: 5px;
}

nav ul {
    /* box model */
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;

    /* visual */
    list-style: none;
}

.cool > li {
    /* positioning */
    position: relative;

    /* box model */
    display: flex;
    justify-content: center;
}

.dropdown {
    /* positioning */
    position: absolute;
    transform: translateY(100px);
    top: -20px;

    /* box model */
    display: none;
    padding: 20px;

    border-radius: 2px;
    opacity: 0;
    overflow: hidden;
    transition: all 0.5s;
    will-change: opacity;
}

.trigger-enter .dropdown {
    display: block;
}

.trigger-enter-active .dropdown {
    opacity: 1;
}

.dropdownBackground {
    position: absolute;

    display: flex;
    justify-content: center;
    height: 100px;
    width: 100px;

    border-radius: 4px;
    opacity: 0;
    background: #ffffff;
    box-shadow: 0 50px 100px rgba(50,50,93,0.1), 0 15px 35px rgba(50,50,93,0.15), 0 5px 15px rgba(0,0,0,0.1);
    transition: all 0.3s, opacity 0.1s, transform 0.2s;
    transform-origin: 50% 0;
}

.dropdownBackground.open {
    opacity: 1;
}

.arrow {
    position: absolute;
    transform: translateY(-50%) rotate(45deg);

    display: block;
    height: 20px;
    width: 20px;
    background: #ffffff;
}

.bio {
    min-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;

    line-height: 1.7;
}

.bio img {
    float: left;
    margin-right: 20px;
}

.courses {
    min-width: 300px;
}

.courses li {
    padding: 10px 0;
    display: block;

    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.dropdown a {
    text-decoration: none;

    color: #ffc600;
}

a.button {
    display: block;
    margin-bottom: 10px;
    padding: 10px;

    color: #ffffff;
    background: #000000;
}