.player {
    /* box model */
    width: 600px;
    height: auto;
}

.player__video {
    /* box model */
    width: 100%;
}

.player:hover {
    .progress {
        /* visual */
        visibility: visible;
    }
}

.progress {
    /* positioning */
    position: relative;
    
    /* box model */
    width: 100%;
    height: 30px;
    margin-top: -33px;

    /* visual */
    background-color: rgba(0,0,0,0.5);
    visibility: hidden;
}

.progress__filled {
    /* positioning */
    position: absolute;
    left: 0;
    top: 0;

    /* box model */
    height: 30px;
    
    /* visual */
    background-color: rgba(0, 0, 0, 0.8);
}